<html>
<head>
     
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">    
   <!-- CSS Styleshets<-->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/nice-select.css">
    <!--- JS --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
    <script src="../js/jquery.nice-select.min.js"></script>
    <script src="../js/helpers.js"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 
</head>
    <body>
        <div class="row page-header">            
            <div class="col-md-10">
                <div class="container header-text">
                            <h1>Test Header 2017</h1>
                    
                </div>
                  
            </div>
            <div class="col-md-2">
                <span class="logout-button"> <button class="btn btn-default btn-sm" name="logout" id="logout" onclick="location.href='/logout';" value="Log Out">Log Out</button>
                </span>
            </div>
               
        </div>
        
        <!-- NAVIGATION BAR -->
        
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>    
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-center">
               <li class="standings1"><a href="/standings"><span class='glyphicon glyphicon-home'></span> Standings</a></li>
    <li class="weekly1"><a href="/weeklystandings"><span class='glyphicon glyphicon-glass'></span> Weekly Standings</a></li>
    <li class="pick1"><a href="/pickform"><span class='glyphicon glyphicon-map-marker'></span> Pick Form</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="pick1"><a href="/populateschedule"><span class='glyphicon glyphicon-map-marker'></span>Populate DB</a></li>
                            <li class="pick1"><a href="/schedule"><span class='glyphicon glyphicon-map-marker'></span>Set Spread</a></li>
                            <li class="pick1"><a href="/gameschedule"><span class='glyphicon glyphicon-map-marker'></span>Set Scores</a></li>
                            </ul>
                        </li>
            </ul>
          </div>
</nav>
    <!-- END NAVIGATION BAR -->
        {{{body}}}
            
    </body>
    <script>
            $(document).ready(function() {
              $('select').niceSelect();
            });
    </script>

</html>

