<div class="jumbotron text-center">
	<h1>Pick Form</h1><br />
	<div class="form-group">
	    <label>Name: <input ng-class="text" ng-model="selectedUser" /> </label> <br />
	    <label> You Entered:  </label> {{ selectedUser }} <br />
    </div> <br />
    <br />
    <div ng-controller="FormController">
	    <form name="pickForm" novalidate> 
		    <div class="form-group">
		    <div>
		    <label> Matchup: {{ matchup }} </label> <br /> 
		    <label> Please Select a team: <select ng-model="selectedGame1" ng-options="x.team for x in game"> </label> </select> 
		    <br />
		    <section> <label> You Selected: </label> {{ selectedGame1.team }} </section>
		    </div>
		   <div>
		    <label> Matchup: {{ matchup }} </label> <br /> 
		    <label> Please Select a team: <select ng-model="selectedGame2" ng-options="x.team for x in game"> </label> </select> 
		    <br />
		    <section> <label> You Selected: </label> {{ selectedGame2.team }} </section>
		    </div>
		    <div>
		    <label> Matchup: {{ matchup }} </label> <br /> 
		    <label> Please Select a team: <select ng-model="selectedGame3" ng-options="x.team for x in game"> </label> </select> 
		    <br />
		    <section> <label> You Selected: </label> {{ selectedGame3.team }} </section>
		    </div>
		    <div>
		    <label> Matchup: {{ matchup }} </label> <br /> 
		    <label> Please Select a team: <select ng-model="selectedGame4" ng-options="x.team for x in game"> </label> </select> 
		    <br />
		    <section> <label> You Selected: </label> {{ selectedGame4.team }} </section>
		    </div>
		    <div>
		    <label> Matchup: {{ matchup }} </label> <br /> 
		    <label> Please Select a team: <select ng-model="selectedGame5" ng-options="x.team for x in game"> </label> </select> 
		    <br />
		    <section> <label> You Selected: </label> {{ selectedGame5.team }} </section>
		    </div>
		    <div>
		    <label> Matchup: {{ matchup }} </label> <br /> 
		    <label> Please Select a team: <select ng-model="selectedGame6" ng-options="x.team for x in game"> </label> </select> 
		    <br />
		    <section> <label> You Selected: </label> {{ selectedGame6.team }} </section>
		    </div>
    <!-- <ul>
    <li ng-repeat="x in matchups">
      {{ weeklyGames.game }} - <em> {{ weeklyGames.game }}</em>
    </li>
 	</ul>
 -->
		    </div>	   
	    </form>
	</div>