<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
         <h2>Noon Games:</h2>
         <form class="form-inline">
            <div class="form-group">
              <label for="focusedInput">Home Team</label>
              <input class="form-control" id="focusedInput" type="text">
           <br>
              <label>Away Team</label>
              <input class="form-control"  type="text">
             </div>
         </form>             
    <div class="col-md-4">
    </div>
</div>